<!DOCTYPE html>
<html>
	<head>
		<meta content = 'text/html; charset = UTF=8' http-equiv='Content-Type' />
	</head>
	<body>
		<%= @sender.un %>,

		<p> <%= @receiver.un %> has accepted the following bet: </p>
		<p> Prop: <%= @bet.prop %> </p>
		<p> Category: <%= @bet.category %> </p>
		<p> Wager: <%= @bet.wager %> </p>
	</body>
</html>