.container
	%h1 Counter offer
	%div{:class => "row"}
		%div{:class => "col-md-6 col-md-offset-3"}
			= form_for :counter, :url => update_bets_path, :html => {:method => :patch}, :class => "form-horizontal", :id => "counter_form" do |f|
				
				- if @bet.errors.any?
					%div{:id => "error_explanation"}
						%div{:class => "alert alert-danger"}
							The proposition could not be sent because:
						%ul
							- @bet.errors.full_messages.each do |msg|
								%li  #{msg}

				%div{:class => "form-group"}
					= f.label :opponent, "Opponent: #{name(@bet.user1)}"
				%div{:class => "form-group"}
					= f.label :prop, "Proposition:"
					= f.text_field :prop, :class => "form-control", :id => "prop", :value => "#{@bet.prop}"
				%div{:class => "form-group"}
					= f.label :category, "Category:"
					= f.text_field :category, :class => "form-control", :id => "category", :value => "#{@bet.category}"
				%div{:class => "form-group"}
					= f.label :wager, "Wager:"
					= f.text_field :wager, :class => "form-control", :id => "prop", :value => "#{number_to_currency(@bet.wager)}"

				%input{:class => "form-group",:type => "hidden", :value => @bet.id, :name => :id} 

				%div{:class => "form-group"}	
					= f.submit "Counter", :class => "btn btn-default pull-right"