= provide(:title, @user.un)

%h1
	= gravatar_for @user
	= @user.un

%ul{:class => "nav nav-pills"}
	%li{:class => "active"}
		= link_to "Overview", user_path
	%li
		= link_to "Pending Bets", pending_user_path(@user)
	%li
		= link_to "Open Bets", open_user_path(@user)
	%li
		= link_to "Groups", groups_user_path

%h2 statz

%table#pendingbets{:class => "table table-hover", :border => "1", :align => "center"}
	%tr
		%th All-time Record
		%th All-time Winning percentage
		%th All-time Rank
		%th All Time Winningz

	%tbody
		%tr
			%td #{@stats["win"]} - #{@stats["loss"]}
			%td #{number_with_precision(win_percentage(@user.id), :precision => 3)}
			%td #{@stats["rank"]}
			%td #{number_to_currency(@winnings)}

</table>