%header{:class => "navbar navbar-fixed-top navbar-inverse"}
	%div{:class => "container"}
		= link_to "Betz", root_path, id: 'logo'
		%nav
			%ul{:class => "nav navbar-nav navbar right"}
				%li
					= link_to "Home", "root"
				%li
					= link_to "Users", "#"
				%li	
					= link_to "Settings", "#"
				%li	
					= link_to "Log Out", logout_path, :method => "delete", :class => "pull-right"